@model IEnumerable<FilmReview.Models.News>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br />
    <br />
    <br />
    <br />
    <h2>Our best rated films</h2>



    @{int i = 0;}
    @foreach (var item in (List<FilmReview.Models.Film>)ViewData["MostPopular"])
    {
        if (i == 0)
        {
            <img src="~/Images/trophy.png" alt="Top movie" width="50" height="50">
        }

        <p>
            @Html.DisplayFor(modelItem => item.FilmName)
            <span class="label label-primary">★ @Html.DisplayFor(modelItem => item.Rating)</span>
        </p>

        i++;
    }


    <br />
    <p></p>
</div>

<div class="row">
    <center><h2>Latest News</h2></center>
    <hr />
    @foreach (var item in Model.Take(3))
    {
        <div class="col-md-4">
            <h3 style="font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)</h3>
            <h4 style="color:#767676;">@Html.DisplayFor(modelItem => item.Date)</h4>
            <p>@Html.DisplayFor(modelItem => item.Subtitle)</p>
            <p>@Html.ActionLink("Read story", "Story", "News", new { id = item.NewsID }, new { @class = "btn btn-default" })</p>
        </div>
    }
</div>