@model IEnumerable<FilmReview.Models.News>

@{
    ViewBag.Title = "Index";
}

<h2>News</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td width="75%">
            <a href="~/News/Story/@item.NewsID">
                <b>@Html.DisplayFor(modelItem => item.Title)</b>
            </a>
            <br />
            @Html.DisplayFor(modelItem => item.Subtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NewsID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NewsID })
        </td>
    </tr>
    }
</table>