@model FilmReview.Models.News

@{
    ViewBag.Title = "Story";
}

<br />
<h3 style="font-weight:bold;">@Html.DisplayFor(model => model.Title)</h3>
<h4 style="color:#1818f3;">@Html.DisplayFor(model => model.Date)</h4>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <hr />
    @Html.DisplayFor(model => model.Story)
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
