@model IEnumerable<FilmReview.Models.Film>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List of films";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of films</title>
</head>
<body>
    <h2>Films</h2>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="label label-primary">★ @Html.DisplayFor(modelItem => item.Rating)</span>
                </td>
                <td width="75%">
                    <a href="~/Films/Title/@item.FilmId">
                        <b>@Html.DisplayFor(modelItem => item.FilmName)</b>
                    </a>
                    <br />
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FilmId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FilmId })
                </td>
            </tr>
        }
    </table>
</body>
</html>