@model FilmReview.Models.Film
@section Scripts {
    <script src="~/Scripts/rating.js"></script>
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Film";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Film</title>
    <script src="~/Scripts/rating.js"></script>
</head>
<body>
    <div>
        <br />
        <h3 style="font-weight:bold;">@Html.DisplayFor(model => model.FilmName)</h3>
        <h4>@Html.DisplayNameFor(model => model.Rating) <span class="label label-primary">★ @Html.DisplayFor(model => model.Rating)</span></h4>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.FilmId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <hr />
        <b>@Html.DisplayNameFor(model => model.Genre.Name)</b>
        <br />
        @Html.DisplayFor(model => model.Genre.Name)
        <br />
        <br />
        <b>@Html.DisplayNameFor(model => model.Description)</b>
        <br />
        @Html.DisplayFor(model => model.Description)
        <br />
        <br />
        <b>Actors</b>
        <br />
        @foreach (var item in (List<FilmReview.Models.Actor>)ViewData["ActorsForMovie"])
        {
            @Html.ActionLink(item.FirstName + " " + item.LastName, "Details", "Actors", new { id = item.ActorID }, new { @class = "btn btn-default" })
            <span> </span>
        }
        <br />
        <br />
        <b>Directors</b>
        <br />
        @foreach (var item in (List<FilmReview.Models.Director>)ViewData["DirectorsForMovie"])
        {
            @Html.ActionLink(item.DirectorFirstName + " " + item.DirectorLastName, "Details", "Directors", new { id = item.FilmId }, new { @class = "btn btn-default" })
            <span> </span>
        }
        <br />
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Reviews</div>
            <div class="panel-body">
                @using (Html.BeginForm("Rating"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="comment">Add a review:</label>
                        @Html.TextBoxFor(model => model.FilmId, new { style = "display: none;" })
                        @Html.TextArea("Review", "", new { @class = "form-control", @rows = "5" })
                        <span class="rating">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <span data-value="@(11 - i)" class="star"><input type="hidden" class="rated" name="rated" /></span>
                            }
                        </span>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Review">
                    </div>
                }
                <br />
                <label for="comment">Reviews:</label>
                <ul class="list-group">
                    @if (Model.Review.Count == 0)
                    {
                        <li class="list-group-item">Be the first one to review!</li>
                    }
                    @foreach (var item in Model.Review)
                    {
                        <li class="list-group-item">
                            @Html.DisplayFor(model => item.Description) (@Html.DisplayFor(model => item.DateAdded))
                            <span class="label label-default" style="float: right">Rating: ★ @Html.DisplayFor(model => item.ReviewRating)</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>