@model FilmReview.Models.Film

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
</head>
<body>
    <div>
        <h4>Film</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Genre.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FilmName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FilmName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Reviews
            </dt>

            @if (Model.Review.Count == 0)
            {
                <dd>
                    Be the first one to review!
                </dd>
            }

            @foreach (var item in Model.Review)
            {
                <dd>
                    @Html.DisplayFor(model => item.Description)
                    (@Html.DisplayFor(model => item.DateAdded))
                </dd>
            }

            <dd>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(model => model.FilmId, new { style = "display: none;" })
                    @Html.TextArea("Review", "")
                    <br />
                    <input type="submit" value="Review" />
                }
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FilmId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>